body {
  background-color: wheat;
  margin: 10px 0;
}
article {
  margin: 5vmin;
}
h1 {
  text-align: center;
  font-size: 8vmin;
  margin: 4vmin 0;
}
img.logo {
  margin: 4vmin auto;
  width: 40vmin;
}
ul {
  margin: 2.5vmin auto;
  font-size: 5vmin;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
li {
  text-align: center;
  font-size: 5vmin;
  padding: 2vmin 3vmin;
  border: solid black 1px;
}
.footer {
  text-align: center;
  margin: 2vmin;
}