---
import Logo from "../components/Logo.astro";
import "../styles/index.css";

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>svgmapviewer</title>
  </head>
  <body>
    <div class="header">
      <h1>svgmapviewer</h1>
    </div>
    <article>
      <Logo />
    </article>
    <div class="footer">
      <p>&copy; Daiji Maps</p>
    </div>
  </body>
</html>
