---
const { items } = Astro.props;
---

<ul>
  {
    items.map(({ href, title }: { href: string; title: string }) => (
      <li>
        <a href={href} target="_blank">
          {title}
        </a>
      </li>
    ))
  }
</ul>
